// Shared build settings for all configurations.
DEVELOPMENT_TEAM = RS59HDH7Y3
MACOSX_DEPLOYMENT_TARGET = 15.0
SWIFT_VERSION = 5.0
CODE_SIGN_STYLE = Manual
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 0.1.0
GENERATE_INFOPLIST_FILE = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
DEAD_CODE_STRIPPING = YES
